*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  /* word-break: break-all; */
}
.introparents{
  display: flex;
  justify-content: center;
  align-items: center;
  background:  100%;
  /* border: 4px solid red; */
  padding: 90px 30px;
  background-image: linear-gradient(72deg,#1bb3eb 0%,#25efcb 100%)!important;
}
.introh1,
.introp {
  font-size: clamp( 100px, 80px 56px);
}
.introtext{
  display: flex;
  flex-direction:column;
  gap: 40px;
  position: relative;
  /* border: 4px solid black; */
  z-index: 2;
  width: 40%;
  min-height: 20vh;
  color: #fff;

}
.introb{
  padding: 10px 15px;
  border-radius: 70px;
  border: none;
  color: #00d084;
  font-weight: bold;
}
.introimage{
  width: 30%;
  min-height: 20vh;
}
/* about */
.about{
  /* border: 4px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 30px;
  background: #fff;
  padding: 50px 110px 90px;
  width: 100%;
  min-height: 100%;
}
.abouth1,
.aboutp {
  font-size: clamp( 100px, 80px 56px);
}
.aboutparents{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background:  100%;
  /* border: 4px solid red; */
}
.abouttext{
  display: flex;
  flex-direction:column;
  gap: 40px;
  /* border: 4px solid black; */
  z-index: 2;
  width: 100%;
  position: relative;
  top: 60px;
}
.abouth1{
  color:#00d084 ;
}
.profil{
  display: flex;
  position: relative;
  gap: 20px;
}
.profilimg{
  width: 10%;
  height: 20%;
}
.aboutb{
  padding: 10px 15px;
  border-radius: 70px;
  border: none;
  color: #26caac;
  font-weight: bold;
}
.aboutimage{
  width: 40%;
  min-height: 20vh;
}
/* classes */
.classes{
  padding: 90px 30px;
  /* border: 4px solid blue; */
  
}
.text{
  text-align: center;
  /* border: 4px solid red; */
}

/* items */
.classes {
  padding: 50px 110px 90px;

}
.classesh1{
  color: #00d084;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
.three-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
}
.classesbtn{
  padding: 10px 20px;
  border-radius: 70px;
  border: none;
  color: #00d084;
  border: 1px solid #00d084;
  font-weight: bold;
  margin: 30px 0;
  align-items: center;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* why */
.why {
  background: #f7ce68;
  display: flex;
  padding: 50px 110px 90px;
  /* border: 4px solid red; */
  align-items: center;
  justify-content: center;
}
.whyh1,
.whyp {
  color: #fff;
}
.whytext {
  /* border: 4px solid black; */
  display: flex;
  flex-direction:column;
  gap: 40px;
  position: relative;
  z-index: 2;
  width: 40%;
  min-height: 20vh;
  margin-right: 20px;
}
.whyh1{
  font-weight: 600;
  /* font-size: clamp(100% 50% 30%); */
}
.whybtn {
  padding: 15px 20px;
  border-radius: 70px;
  border: none;
  color: #26caac;
  font-weight: bold;
  position: relative;
  right: 0;
  left: 0;
}
.why 
img{
  /* border: 4px solid green; */
  max-width: 400px;
}
/* features */
.freatures {
  padding: 50px 110px 90px;
  /* border: 4px solid red; */
}
.freaturestext {
text-align: center;
}
.freaturesh1 {
  color: #00d084;
}
.f4 {
  max-width: 500px;
  height: 30%;
}
.flex {
  display: flex;
  flex-direction: row;
  padding: 27px 0;
  margin: 0 90px;
  gap: 30px;
}

/* team */
.team {
  padding: 50px 110px 90px;
}
.three-grid-team {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
}
.item3 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
/* testimonials */
.testimonials {
  text-align: center;
  /* border: 4px solid blue; */
  background: #26caac;
  padding: 50px 110px 90px;
}
.testimonialsh1 {
  color: #fff;
}
.three-grid-testionials {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  margin-top: 30px;
}
.tbtn {
  padding: 15px 20px;
  border-radius: 70px;
  border: none;
  color: #26caac;
  font-weight: bold;
  margin-top: 30px;
}
/* blog */
.blog {
  padding: 50px 110px 90px;
}
.three-grid-blog {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  margin-top: 30px;
}
.blogbtn {
  padding: 15px 20px;
  border-radius: 70px;
  border: none;
  color: #26caac;
  font-weight: bold;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  display: flex;  
}
/* partners */
.partners {
  padding: 50px 110px 90px;
  text-align: center;
  /* border: 4px solid red; */
  background-color: #fff;
}
.partnerh1 {
  margin: 30px;
  color: #00d084;
}
.partner {
  display: flex;
  justify-content: space-between;
}
/* FOOTER */

.footer {
  padding: 50px 110px 90px;
  color: white;
  /* border: 4px solid black; */
  width: 100%;
  background-image: linear-gradient(72deg,#1bb3eb 0%,#25efcb 100%)!important;

}
.parents {
  /* border: 4px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.btn1,
.btn2 {
  padding: 20px 30px;
  border-radius: 70px;
  color: #00d084;
  font-weight: bold;
  margin-top: 20px;
  display: flex;
}
.btn1 {
  color: #fff;
  background: transparent;
  border: 2px solid white ;
}
.btn2 {
  border: none;
}


/* responsive */

@media (max-width: 950px) {
  /* intro */
  .intro,
  .introparents,
  .introtext,
  .introimage{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .introtext{
    padding: 20px;
  }
  .introimage{
    margin-top: 30px;
  }
  /* about */
  .about,
  .aboutparents,
  .abouttext,
  .aboutimage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  .aboutimage {
    margin-top: 50px;
  }
  /* classes */
  .classes,
  .btn,
  .classesh1,
  .three-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  /* why */
  .why,
  .whybtn,
  .whyh1,
  .whytext {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .whybtn {
    padding: 12px 36px;
  }
  .whyimage {
   max-width: 100%;
   height: 100%;
   padding: 40px;
  }
  /* features */
  .freatures,
  .freaturesh1,
  .items {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

  }
  .f4 {
    width: 50%;
    height: 50%;
  }
 
  
  
  /* team */
  .team,
  .text,
  .three-grid-team,
  .classesh1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  /* testimonials */
  .testimonials,
  .text,
  .testimonialsh1,
  .three-grid-testionials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  /* blog */
  .blog,
  .text,
  .blogh1,
  .flex,
  .three-grid-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0;
    
  }
  .blog,
  a {
    word-break: break-all;
  }
  /* partners */
  .partners,
  .partnerh1,
  .partner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
  }
  /* footer */
  .footer,
  .parents,
  .footertext,
  .footerbtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 20px;
  }
}

